<!-- the main content -->
<ion-header>
    <ion-toolbar>
        <ion-title>Files</ion-title>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-icon name="refresh" (click)="dataService.resetFiles()"></ion-icon>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>



    <wm-uploader></wm-uploader>
    <!-- <ion-select >
    <ion-option value="f">Female</ion-option>
    <ion-option value="m">Male</ion-option>
</ion-select> -->
    <ion-icon name="refresh"></ion-icon>
    <ion-list lines="none">
        <ion-list-header>
            <ion-item>
                <ion-label>Sort Method</ion-label>
                <ion-select (ionChange)="sort($event.target.value)" [value]="sortMethods[currentSortMethod].label" [placeholder]="sortMethods[currentSortMethod].label | translate">
                    <ion-select-option *ngFor="let method of sortMethods; index as sortIndex" [value]="sortIndex">{{method.label | translate}}</ion-select-option>
                </ion-select>
            </ion-item>
        </ion-list-header>

        <h3>{{ dataService.unprocessedFilesIndexes.length }} files in queue</h3>
        <button (click)="dataService.startProcessing(true)">Start</button>
        <button (click)="dataService.stopProcessing()">Stop </button>
        <wm-files-item *ngFor="let i of dataService.unprocessedFilesIndexes" [file]="files[i]"></wm-files-item>

        <h3>{{ dataService.processedFilesIndexes.length }} processed files</h3>
        <wm-files-item *ngFor="let i of dataService.processedFilesIndexes" [file]="files[i]"></wm-files-item>


        <!-- <ion-item *ngFor="let file of files; index as i; " (click)="playFile(i)">
        <ion-spinner *ngIf="!file.complete"></ion-spinner>
        <ion-label *ngIf="file.complete">
            <ion-icon slot="start" color="medium" [name]="file.complete ? 'play' : 'infinite'"></ion-icon>
        </ion-label>
        <ion-label>{{file.file.name}}</ion-label>
        <ion-label>{{ file.complete }} </ion-label>
        <ion-label>
            <wm-waveform [data]="file.waveform"></wm-waveform>
        </ion-label>
        <ion-label *ngIf="file.bpm">BPM: {{file.bpm.groups[0].tempo}}</ion-label>

        <ion-label *ngIf="!file.bpm">Loading...</ion-label>
    </ion-item> -->

    </ion-list>
</ion-content>