<ion-header>
  <ion-toolbar>
    <ion-title>
      <wm-theme-switch></wm-theme-switch>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-card-header>
        <ion-card-title>Uploader</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <wm-uploader></wm-uploader>
      </ion-card-content>
    </ion-card>
    <ion-card *ngIf="file">
      <ion-card-header>
        <ion-card-title>Track {{ file }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <wm-player [file]="file"></wm-player>
      </ion-card-content>
    </ion-card>
    <wm-files-list></wm-files-list>
</ion-content>
