.uploadbar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  >* {
    position: relative;
    width: 15%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 1 auto;
    border-radius: 50%;
    border: 2px solid var(--ion-color-secondary);
    > * {
      flex: 1 1 auto;
      text-align: center;
    }
    label {
      font-size: 2em;
      display: block;
    }
    /* make square */
    &:after {
      content: '';
      float: left;
      padding-top: 100%;
    }
  }
}

.droparea {
  &.initial:before {
    // animation: sonarWave 2s linear infinite;
  }
  &.overDropZone {
    transform: scale(1.2);
  }
  &.fileDropped {
    background: green;
  }
}

@keyframes sonarWave {
  from {
    opacity: 0.4;
  }
  to {
    transform: scale(3);
    opacity: 0;
  }
}