<section class="uploadbar">
    <div class="droparea full" (click)="fileinput.click()" (drop)="onDropFile($event)" (dragover)="onDragOverFile($event)" (dragleave)="onDragLeave($event)" [ngClass]="{overDropZone: overDropZone, fileDropped: fileDropped, initial: (!fileDropped && !overDropZone), wrongFormat: wrongFormat }">
        <label *ngIf="!overDropZone" [innerHTML]="'UPLOADER.DROPZONE.EMPTY' | translate"></label>
        <label *ngIf="overDropZone">Release the files</label>
        <label *ngIf="wrongFormat">Oops! Wrong format!</label>
        <label *ngIf="fileDropped">Thanks! Drop more if you like...</label>
        <input type="file" accept="audio/*" (change)="setFile($event.target.files)" #fileinput style="display: none" multiple>
    </div>
    <!-- <div>
        <div><label>Select it</label>
            <input type="file" multiple class="form-control-file" (change)="setFile($event.target.files)">
        </div>
    </div> -->
    <div>
        <div>
            <input type="url" (keyup.enter)="setFileUrl($event.target.value)" value="https://sample-videos.com/audio/mp3/wave.mp3">
        </div>
    </div>
    <div>
        <div (click)="setFileUrl('assets/audio/sample07.mp3')"><label>Load <b>Sample</b></label>
        </div>
    </div>
</section>